# Python cache
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.egg-info/

# Jupyter Notebooks
.ipynb_checkpoints/

# Environment files
.env
.env.*

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# Vercel output
.vercel/

# Compiled files
*.db
*.sqlite3
*.index
*.csv
*.zip
*.png
*.jpg
*.jpeg

# VSCode settings
.vscode/

# Ngrok or local deploy tools
ngrok.log
.vercel
